services:
  php-apache:
    build: . # expressa que deve ser utilizado o Dockerfile no diretório vigente para construir a imagem
    container_name: portfolio
    ports:
      - "80:80" # [porta_host]:[porta_container]
    volumes:
      - ./public:/var/www/html/public
      - ./routes:/var/www/html/routes
      - ./vendor:/var/www/html/vendor
      - ./.env:/var/www/html/.env
      - ./docker/apache/vhost.conf:/etc/apache2/sites-available/000-default.conf
    # depends_on:
    #   - mysql # não espera o MySQL estar disponível (só iniciado).

  # mysql:
  #   image: mysql:8.0
  #   container_name: mysql
  #   environment:
  #     MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
  #     MYSQL_DATABASE: '${DB_DATABASE}'
  #     MYSQL_USER: '${DB_USERNAME}'
  #     MYSQL_PASSWORD: '${DB_PASSWORD}'
  #   ports:
  #     - "3306:3306"
  #   volumes:
  #     - ./docker/mysql/my.cnf:/etc/mysql/my.cnf
  #     - mysql_data:/var/lib/mysql

# Cria um volume nomeado chamado mysql_data.
# Serve para persistir os dados do banco fora do container.
# Mesmo que você pare ou recrie o container, os dados continuam salvos.
# volumes:
#   mysql_data:
