<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/css/main-style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
	<script src="../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
	<title>Portfolio dev</title>
</head>

<body>
	<section class="poppins-regular main-text-color">
		{# CABEÇALHO #}
		<header class="container-fluid p-3" id="home">
			<nav class="navbar navbar-expand-lg">
				<div class="container">
					<div class="brand">
						<a class="text-decoration-none fs-5 roboto-medium" href="/">
							Vinícius Nascimento
						</a>
					</div>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
						aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end poppins-medium" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item mx-2">
								<a class="nav-link position-relative p-0 ms-4" aria-current="page" href="#home">Início</a>
							</li>
							<li class="nav-item mx-2">
								<a class="nav-link position-relative p-0 ms-4" href="#services">Serviços</a>
							</li>
							<li class="nav-item mx-2">
								<a class="nav-link position-relative p-0 ms-4" href="#projects">Projetos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link position-relative p-0 ms-4" href="#contact">Contato</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		{# CONTEÚDO PRINCIPAL #}
		<main>
			{# SOBRE #}
			<section class="about">
				<div class="container d-flex align-items-center justify-content-between py-5">
					{# Título e descrição #}
					<div class="h-75 w-50 flex-wrap roboto-extrabold">
						<div class="title lh-sm py-2">
							Olá, meu nome é Vinícius,
							<br>
							Desenvolvedor Web
						</div>
						<div class="poppins-light pb-2 pe-5">
							<p>
								Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus deserunt officia iste
								praesentium?
							</p>
						</div>
						<div class="pt-2">
							<button class="btn btn-primary rounded-1 pt-2">
								Download CV
								<i class="bi bi-arrow-down-circle ps-1"></i>
							</button>
						</div>
					</div>
					{# Imagem #}
					<div class="about-image">
						<img src="assets/images/Programming-pana.svg" alt="programmer" class="w-100">
					</div>
				</div>
			</section>
			{# SERVIÇOS #}
			<section class="services my-py-5" id="services">
				<div class="container d-flex flex-column roboto-medium my-5 py-5">
					<div class="text-center">
						<h2>Serviços</h2>
					</div>
					<div class="d-flex flex-wrap gap-3 my-4">
						<article class="rounded-1 shadow p-5">
							<i class="bi bi-globe2 fs-1"></i>
							<div class="mt-1">
								<h3>Desenvolvimento Web</h3>
								<p class="poppins-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Doloremque
									praesentium adipisci consequuntur facilis assumenda sequi omnis quos.</p>
							</div>
						</article>
						<article class="rounded-1 shadow p-5">
							<i class="bi bi-code-slash fs-1	"></i>
							<div class="mt-1">
								<h3>Desenvolvimento Front-End</h3>
								<p class="poppins-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Culpa
									consectetur ipsam placeat faceres.</p>
							</div>
						</article>
						<article class="rounded-1 shadow p-5">
							<i class="bi bi-hdd-stack fs-1"></i>
							<i class="bi bi-database fs-1"></i>
							<div class="mt-1">
								<h3>Desenvolvimento Back-End</h3>
								<p class="poppins-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Hic,
									quasi
									ad repellendus, expedita inventore ea deleniti!</p>
							</div>
						</article>
					</div>
				</div>
			</section>
			{# PROJECTS #}
			<section>
				<div class="projects container d-flex flex-column my-5 py-5" id="projects">
					<div class="text-center">
						<h2>Projetos</h2>
					</div>
					<div class="d-flex gap-3 my-4">
						<article class="rounded-1 shadow p-5">
							<div class="mt-1">
								<h3>Projeto 1</h3>
								<p class="poppins-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Doloremque
									praesentium adipisci consequuntur facilis assumenda sequi omnis quos.</p>
							</div>
						</article>
						<article class="rounded-1 shadow p-5">
							<div class="mt-1">
								<h3>Projeto 2</h3>
								<p class="poppins-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Doloremque
									praesentium adipisci consequuntur facilis assumenda sequi omnis quos.</p>
							</div>
						</article>
						<article class="rounded-1 shadow p-5">
							<div class="mt-1">
								<h3>Projeto 3</h3>
								<p class="poppins-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Doloremque
									praesentium adipisci consequuntur facilis assumenda sequi omnis quos.</p>
							</div>
						</article>
					</div>
				</div>
			</section>
			{# SKILLS #}
			<section class="skills">
				<div class="container my-5 py-5">
					<div class="text-center">
						<h2>Tecnologias utilizadas</h2>
					</div>
					<div class="d-flex justify-content-center my-4">
						{# presentation #}
						<article class="tech-presentation me-2 p-5">
							<h3>Language title</h3>
							<span class="poppins-light">
								<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad laborum ipsa ducimus
									eaque
									repudiandae? Deleniti quo dolorum, libero ipsam, recusandae numquam asperiores
									magnam
									dignissimos eos.</p>
							</span>
						</article>
						{# technologies #}
						<article class="dev-icons d-flex flex-wrap justify-content-center ms-2 py-5 px-3">
							<i
								class="devicon-php-plain border border-secondary border-opacity-25 rounded-1 p-4 m-2"></i>
							<i
								class="devicon-laravel-original border border-secondary border-opacity-25 rounded-1 p-4 m-2"></i>
							<i
								class="devicon-javascript-plain border border-secondary border-opacity-25 rounded-1 p-4 m-2"></i>
							<i
								class="devicon-java-plain border border-secondary border-opacity-25 rounded-1 p-4 m-2"></i>
							<i
								class="devicon-docker-plain border border-secondary border-opacity-25 rounded-1 p-4 m-2"></i>
							<i
								class="devicon-mysql-original border border-secondary border-opacity-25 rounded-1 p-4 m-2"></i>
							<i
								class="devicon-github-original border border-secondary border-opacity-25 rounded-1 p-4 m-2"></i>
							<i
								class="devicon-wordpress-plain border border-secondary border-opacity-25 rounded-1 p-4 m-2"></i>
							<i
								class="devicon-html5-plain border border-secondary border-opacity-25 rounded-1 p-4 m-2"></i>
							<i
								class="devicon-css3-plain border border-secondary border-opacity-25 rounded-1 p-4 m-2"></i>
							<i
								class="devicon-bootstrap-plain border border-secondary border-opacity-25 rounded-1 p-4 m-2"></i>
							<i
								class="devicon-tailwindcss-original border border-secondary border-opacity-25 rounded-1 p-4 m-2"></i>
						</article>
					</div>
				</div>
			</section>
			{# CONTACT #}
			<section id="contact">
				<div class="container py-5">
					<div class="contact d-flex justify-content-center align-items-center">
						{# Image #}
						<div class="contact-image">
							<img src="assets/images/Mention-bro.svg" alt="programmer" class="w-100">
						</div>
						{# Form #}
						<div class="contact-form d-flex flex-wrap
						 	flex-grow-1 align-items-center
						  	justify-content-center p-5">
							<div class="text-center">
								<h2>Vamos conversar?</h2>
							</div>
							<form action="#" method="post" class="d-flex flex-column w-100 p-5">
								<div class="mb-3">
									<input type="name" class="form-control rounded-1 p-3" id="name" placeholder="Nome">
								</div>
								<div class="mb-3">
									<input type="email" class="form-control rounded-1 p-3" id="email"
										placeholder="E-mail">
								</div>
								<div class="mb-3">
									<textarea type="text" class="form-control rounded-1 p-3" id="message"
										placeholder="Mensagem"></textarea>
								</div>
								<button type="submit" class="btn btn-primary rounded-1 p-2">Enviar</button>
							</form>
						</div>
					</div>
				</div>
			</section>
		</main>

		{# RODAPÉ #}
		<footer>
			<div class="text-center roboto-regular">
				<p>Todos os direitos reservados &copy 2025</p>
			</div>
		</footer>
	</section>
</body>

</html>