header *{
    background-color: #111111 !important;
    color: #9ca3af !important;
    letter-spacing: 0px;
}

header .brand *{
    color: #ebebeb !important;
}

header {
    border-bottom: 1px solid #181818;
}

header .brand:hover {
    transform: scale(1.015);
    transition: transform .2s ease-in-out;
}

.navbar-nav a:hover {
    color: white !important;
}

.navbar-nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -3px;
    left: 0px;
    transform-origin: right bottom;
    background: linear-gradient(270deg, #90CAF9 0%, #17161d 100%);
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.navbar-nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left bottom;
}