/* ----------- ABOUT ----------- */
.about {
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.about-image {
    width: 40%;
}

.about .title {
    font-size: 3rem;
    position: relative;
    border-right: 2px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
}

/* animation */
.animation-typewriter {
    animation: typewriter 2s steps(24) 1s 1 normal both,
        blinkTextCursor 500ms steps(24) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0%;
    }

    to {
        width: 69%;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

/* ----------- ABOUT END -----------*/

.services {
    background-color: #151515;
}

.services .col h3 {
    font-size: 1.2rem;
}

.services i {
    color: #1C30B6 !important;
}

.services .d-flex>article {
    flex: 1;
    background-color: #111111;
}

.services h3 {
    font-size: 1.4rem;
}

.skills {
    background-color: #151515;
}

.skills .dev-icons {
    max-width: 40%;
}

.skills .tech-presentation {
    max-width: 44%;
}

.skills i {
    font-size: 3rem;
    background-color: #111111;
}

.projects article {
    background-color: #151515;
}

.contact-image {
    width: 50%;
}